{{#if questionnaires}}
{{#withGroup questionnaires 3}}
<div class="card-deck mt-3" id="questionnaire-container">
    <table>
        {{#each this as |questionnaires index|}}
        <tr>
            <td>
                {{>questionnaire_info this}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/withGroup}}
{{else}}
<div class="alert alert-danger">
    <p>No questionnares found.</p>
</div>
{{/if}}