<div id="game">
    <div class="row mt-0">
        <div class="col-md-0 m-auto">
            <div class="card card-body">
                {{>messages}}
                <div id="data">{{gameData}}</div>
                <h3 id="title" class="text-center mb-3">Dragger Game</h3>
                <h4 class="instructions text-left mb-2">Instructions</h4>
                <p>
                    Drag the box to the left if it is correct.
                </p>
                <button id="startGame" class="btn btn-primary"> Start </button>
                <div id="gameContainer" class="col-md-0 text-center">
                    <canvas id="gameCanvas" width="600" height="600" style="border:1px solid #000000;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>