<h1>CREATE NEW QUESTIONNAIRE</h1>
<div class="card">


    <div class="create-form">
        <form id="create-form" action="/questionnaires/new" method="POST">
            <div class="card-header">

                <label for="title">Title: </label>
                <input class="form-control" type="text" id="title" name="title" minlength="1" maxlength="100" required>

            </div>
            <div class=" card-body">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div id="create-questionnaire-hook">
                            <div class="questionnaireContainer">
                                <label for="questiontitle">Question title: </label>
                                <input class='form-control' type='text' name='questiontitle' id='question-title'>

                                <label for="points0">Max points: </label>
                                <input class="form-control" type="number" id="points" name="points0" required>

                                <div class="form-group">
                                    <label id="option-label" for="options-list">Options:</label>
                                    <ul id="optionHook" name="options-list" class="list-group">

                                    </ul>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div id='create-option-hook'>
                                                <label for="option">Option: </label>
                                                <input id="option-input0" class="form-control" type="text" required>
                                                <label for="hint">Hint (optional): </label>
                                                <input class="form-control" type="text" id="hint0">
                                                <input class="radio-inline addOptionRbutton" value="true" type="radio"
                                                    name="optionRadio0" id="optionRadio-true" checked="true" required>
                                                <label for="optionRadio-true">True</label>
                                                <input class="radio-inline addOptionRbutton" value="false" type="radio"
                                                    name="optionRadio0" id="optionRadio-false" required>
                                                <label for="optionRadio-false">False</label>
                                                <button id="add-option-btn" type="button"
                                                    class="btn btn-block btn-success " value="0">Add
                                                    option
                                                    <i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="form-group form-buttons">
                    <button type="button" id="create-new-question-btn" class="btn btn-block btn-success">Create new
                        Question
                        <i class="fa fa-plus"></i></button>
                    <button type="submit" class="btn btn-block btn-primary" name="submitBtn">Submit new
                        Questionnaire!</button>
                </div>
            </div>
        </form>
    </div>

</div>
{{>javascript}}
