<div class="container">
    <h1>All questionnaires!</h1>
    <form action="questionnaires/new" method="GET">
        <button class="btn btn-primary" type="submit" name="create">Create new Questionnaire</button>
    </form>
    {{>questionnaire_listing}}
</div>
