<div class="container">
    <h1>All questionnaires!</h1>
    <a href="questionnaires/new">
        <button class="btn btn-primary" type="submit" name="create">Create new Questionnaire</button>
    </a>
    {{>questionnaire_listing}}
</div>
